@tailwind base;
@tailwind components;
@tailwind utilities;

.rich-text a {
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
}

.rich-text p + p {
    margin-top: 1.3em;
}

@layer base {
    @media (max-width: 640px) {
        * {
            text-align: var(--mobile-screen-text-align, inherit);
        }
    }
}
