@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide default clear button in search input */
input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}
