@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide default clear button in search input */
input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.rich-text ol {
    list-style-type: decimal;
    list-style-position: outside;
}

.rich-text ol li {
    margin-left: 1em;
}

.rich-text ul {
    list-style-type: disc;
    list-style-position: outside;
}

.rich-text ul li {
    margin-left: 1em;
}

.rich-text * + * {
    margin-top: 0.5em;
}
