.gm-ui-hover-effect:focus {
    outline: none;
}

.gm-style-iw-d {
    overflow: auto !important;
    scrollbar-width: none !important;
}

.gm-style-iw-c {
    padding: 12px !important;
    background-color: rgb(var(--neutral-50)) !important;
}